<h5>Purchase Form</h5>
<hr>
<br>
<div>Number of Adults:
    <button class="btn btn-custom btn-sm" (click)=subCount1()>-</button>
    <span> {{ count1 }} </span>
    <button class="btn btn-custom btn-sm" (click)=addCount1()>+</button>
</div>
<br>
<div>Number of Adults:
    <button class="btn btn-custom btn-sm" (click)=subCount2()>-</button>
    <span> {{ count2 }} </span>
    <button class="btn btn-custom btn-sm" (click)=addCount2()>+</button>
</div>
<br><br>
<div>{{ trip.priceAdult }} eur</div>
<h6>Total {{price}} eur</h6>
<div class="col-12">
    <button *ngIf="isLogin" class="btn btn-custom col-11">Book</button>
    
</div>