<div class='row justify-content-center'>
    <div class='col-md-4' *ngIf='!this.isLogin'>
        <h4 class="mrg center-title">Add new country</h4>
        <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
            <div class='form-group mrg'>
                <input class='form-control input-fix' type="text" name="countryName" placeholder="Country name" ngModel>
            </div>
            
           
            <input class='btn btn-custom mrg' type="submit" value="Add">
        </form>
    </div>
    
</div>