.btn-custom {
    background-color: rgb(139, 35, 35);
    color: white;
}

h1,h2,h3,h4,h5,h6,a,p,link,span,label {
    color: white;
}

.mrg {
    margin: 10px;
}

.center-title{
    text-align: center;
    margin: 30px;
    margin-top: 15px;
}

.mrg-button {
    margin-left: 10px;
    width: 387px;
    
}

.input-fix {
    background-color: rgba(209, 209, 209, 0.801);
    border-width: 1.5px;
}