<div class="div-mrg">
    <br>
    <h3>Edit the trip</h3>
    <hr>
    <!-- <p>
            {{ contact | json }}
        </p> -->
    <form class="form">
        <div class="form-group mrg">
            <label for="destination">Destination:</label>
            <input placeholder="Country, City, Airport abbreviation" type="text" class="form-control input-fix" id="destination" name="destination">
        </div>
        <div class="form-group mrg">
            <label for="">From:</label>
            <input placeholder="Country, City, Airport abbreviation" type="text" class="form-control input-fix" id="" name="">
        </div>
        <div class="form-group mrg">
            <label for="">Hotel:</label>
            <input placeholder="Hotel Name" type="text" class="form-control input-fix" id="" name="">
        </div>
        <div class="form-group mrg">
            <label for="">Departure Date:</label>
            <input type="date" class="form-control input-fix" id="" name="">
        </div>
        <div class="form-group mrg">
            <label for="">Number Of Days:</label>
            <input type="number" class="form-control input-fix" id="" name="">
        </div>
        <div class="form-check-inline mrg">
            <p>Board Basis:
            <p>
                <label class="form-check-label">
                    <input type="radio" class="form-check-input red input-fix" name="optradio"> Full board
                </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="radio" class="form-check-input red input-fix" name="optradio"> Half Board
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="radio" class="form-check-input red input-fix" name="optradio"> Bed and breakfast
            </label>
        </div>
        <div class="form-group mrg">
            <label for="firstname">Price For Adults:</label>
            <input type="text" class="form-control input-fix" id="" name="">
        </div>
        <div class="form-group mrg">
            <label for="firstname">Price For Children:</label>
            <input type="number" class="form-control input-fix" id="" name="">
        </div>
        <div class="form-group mrg">
            <label for="firstname">Number og Beds (Adults):</label>
            <input type="number" class="form-control input-fix" id="" name="">
        </div>
        <div class="form-group mrg">
            <label for="firstname">Number Of Beds (Children):</label>
            <input type="number" class="form-control input-fix" id="" name="">
        </div>
        <div class="form-group mrg">
            <label for="firstname">Picture URL:</label>
            <input type="text" class="form-control input-fix" id="" name="">
        </div>


        <button class="btn btn-custom mrg">Save changes</button>
    </form>
</div>