<br>
<br>
<!-- <h1 style="text-align: center;">About Us</h1> -->
<div class="animate__animated animate__fadeIn">
  <br>
  <img class="center"
    src="https://scontent.ftll1-1.fna.fbcdn.net/v/t1.15752-9/239417151_550695519310946_6093642004601464901_n.png?_nc_cat=102&ccb=1-5&_nc_sid=ae9488&_nc_ohc=uoKiwY5clFQAX_GK1uP&_nc_ht=scontent.ftll1-1.fna&oh=87da77e06a1ac820822bfc6d159d2b69&oe=614D4807"
    style="height: 150px;">
  <br>
  <br>
  <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
    et
    dolore magna aliqua. Non arcu risus quis varius. Turpis cursus in hac habitasse platea dictumst. Lobortis
    scelerisque
    fermentum dui faucibus. In egestas erat imperdiet sed. Ornare lectus sit amet est. Vitae sapien pellentesque
    habitant
    morbi tristique senectus et. Vel turpis nunc eget lorem dolor sed
    viverra ipsum nunc. Curabitur gravida arcu ac tortor dignissim convallis aenean et tortor. Velit laoreet id donec
    ultrices.</p>

  <p class="intro">Tincidunt arcu non sodales neque sodales ut etiam sit. Morbi tincidunt ornare massa eget egestas
    purus. Elit
    pellentesque habitant morbi tristique senectus et netus. Venenatis a condimentum vitae sapien pellentesque habitant
    morbi. Interdum varius sit amet mattis vulputate enim nulla aliquet porttitor. Nibh cras pulvinar mattis nunc sed
    blandit libero volutpat. Pellentesque habitant morbi tristique senectus et netus et. Et netus et malesuada fames ac
    turpis. Id consectetur purus ut faucibus pulvinar elementum integer. Purus in massa tempor nec. Nisl condimentum id
    venenatis a. Aliquam sem et tortor consequat id porta. Nibh sit amet commodo nulla facilisi nullam vehicula ipsum.
    In
    iaculis nunc sed augue lacus. Tempor nec feugiat nisl pretium.</p>

  <p class="intro">Pellentesque habitant morbi!</p>
</div>