.btn-custom {
    background-color: rgb(139, 35, 35);
    color: white;
}

.btn-custom2 {
    background-color: rgba(139, 35, 35, 0.308);
    color: white;
}

button:hover {
    transition-duration: 0.7s;
    background-color: rgb(139, 35, 35);
  }

.dark-mode {
    background-color: #14151ba2;
    color: white;
    border-radius: 15px;
    border-style:solid;
    border-width: 20px;
    border-color: rgb(0, 0, 0);
}

.extra-border {
    border-style:solid;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.493);
    width: 300px;
    margin: auto;
}


img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.centered {
    text-align: center;
}

#card:hover {
    transition-duration: 0.4s;
    width: 325px;
  }

.special-div {
    height: 40px;
    width: fit-content;
}

.btn-delete {
    font-weight:500;
    background-color: #14151b;
    color: rgb(165, 41, 41);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(139, 35, 35);
}

.btn-mrg {
    margin-left: 10px;
}

h1,h2,h3,h4,h6,a,p,div{
    color: rgba(255, 255, 255, 0.877);
}
