<!-- <div class="dark-glass">
    <h4 class="mrg">Advanced Search</h4>

    <div class="form">
        <div class="form-group form-fix inline">
            <label for="sel1">Country:</label>
            <select class="form-control input-fix" id="sel1" name="sellist1">
                <option value="" disabled selected>Select a country</option>
                <option>Country1</option>
                <option>Country2</option>
                <option>Country3</option>
                <option>Country4</option>
            </select>
        </div>
        <div class="form-group form-fix inline">
            <label for="sel1">City:</label>
            <select class="form-control input-fix" id="sel1" name="sellist1">
                <option value="" disabled selected>Select a city</option>
                <option>City1</option>
                <option>City2</option>
                <option>City3</option>
                <option>City4</option>
            </select>
        </div>
        <div class="form-group form-fix inline">
            <label for="sel1">Airport:</label>
            <select class="form-control input-fix" id="sel1" name="sellist1">
                <option value="" disabled selected>Select an airport</option>
                <option>Airport1</option>
                <option>Airport2</option>
                <option>Airport3</option>
                <option>Airport4</option>
            </select>
        </div>
        <div class="form-group form-fix inline">
            <label for="sel1">Hotel:</label>
            <select class="form-control input-fix" id="sel1" name="sellist1">
                <option value="" disabled selected>Select a hotel</option>
                <option>Hotel1</option>
                <option>Hotel2</option>
                <option>Hotel3</option>
                <option>Hotel4</option>
            </select>
        </div>
        <div class="form-group form-fix inline">
            <label for="">Departure Date:</label>
            <input type="date" class="form-control input-fix" id="" name="">
        </div>
        <button class="btn btn-custom form-fix inline">Search</button>
    </div>



</div>
 -->

 
 <div id="accordion">
    <div class="card dark-glass">
      <div style="border-bottom-width: 0px; height: 55px;" class="card-header" id="headingOne">
        <h5  style="text-align: center;" class="mb-0">
          <a class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h5 style="font-weight: 400;">Advanced Search</h5>
          </a>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div style="padding-left: 50px;" class="form">
            <div class="form-group form-fix inline">
                <label for="sel1">Country:</label>
                <select class="form-control input-fix" id="sel1" name="sellist1">
                    <option value="" disabled selected>Select a country</option>
                    <option>Country1</option>
                    <option>Country2</option>
                    <option>Country3</option>
                    <option>Country4</option>
                </select>
            </div>
            <div class="form-group form-fix inline">
                <label for="sel1">City:</label>
                <select class="form-control input-fix" id="sel1" name="sellist1">
                    <option value="" disabled selected>Select a city</option>
                    <option>City1</option>
                    <option>City2</option>
                    <option>City3</option>
                    <option>City4</option>
                </select>
            </div>
            <div class="form-group form-fix inline">
                <label for="sel1">Airport:</label>
                <select class="form-control input-fix" id="sel1" name="sellist1">
                    <option value="" disabled selected>Select an airport</option>
                    <option>Airport1</option>
                    <option>Airport2</option>
                    <option>Airport3</option>
                    <option>Airport4</option>
                </select>
            </div>
            <div class="form-group form-fix inline">
                <label for="sel1">Hotel:</label>
                <select class="form-control input-fix" id="sel1" name="sellist1">
                    <option value="" disabled selected>Select a hotel</option>
                    <option>Hotel1</option>
                    <option>Hotel2</option>
                    <option>Hotel3</option>
                    <option>Hotel4</option>
                </select>
            </div>
            <div class="form-group form-fix inline">
                <label for="">Departure Date:</label>
                <input type="date" class="form-control input-fix" id="" name="">
            </div>
            <button style="margin-top: 5px;" class="btn btn-custom form-fix inline">Search</button>
        </div>
        <br>
      </div>
    </div>
  </div>
 