<div class='row justify-content-center'>
    <div class='col-md-4' *ngIf='!this.isLogin'>
        <h3 class="mrg center-title">SignUp</h3>
        <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
            <div class='form-group mrg'>
                <input class='form-control' type="text" name="username" placeholder="Username" ngModel>
            </div>
            <div class='form-group mrg'>
                <input class='form-control' type="text" name="email" placeholder="Email" ngModel>
            </div>
            <div class='form-group mrg'>
                <input class='form-control' type="password" name="password" placeholder="Password" ngModel>
            </div>
           
            <input class='btn btn-custom mrg' type="submit" value="SignUp">
        </form>
    </div>
    <div class='col-md-4' *ngIf='this.isLogin'>
        <h1 class="mrg">You are registered as {{this.getUsername()}}</h1>
        <button class='btn btn-custom mrg' (click)='logout()'>Log-out</button>
    </div>
</div>
